<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%=@current_user.username%></h2>
        <a class="edit-profile" href="<%= edit_user_path(@current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name">name: <%=@current_user.name%></h2>
      <h2 class="email">email: <%=@current_user.email%></h2>
      <a class="website">website: <%=@current_user.website%></a>
    </div>
  </div>
</div>
<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
  <a class="tab" href="<%=new_post_path%>">
    <i class="fa fa-plus"></i>
    NEW POST
  </a>
</div>
<div class="posts">
  <% @posts.each do |post| %>
    <section class="post">
      <div class="user">
        <div class="avatar">
          <img src="user_avatar.jpg">
        </div>
        <div class="username">
          <%= post.user.username %>
        </div>
      </div>
      <%= image_tag post.image, class: 'main-image' %>
      <div class="description">
        <%= post.description %>
      </div>
    </section>
  <% end %>
</div>